/BeeWayPictureSelect/.gradle/8.9/dependencies-accessors/gc.properties
/BeeWayPictureSelect/.gradle/8.9/executionHistory/executionHistory.bin
/BeeWayPictureSelect/.gradle/8.9/fileChanges/last-build.bin
/BeeWayPictureSelect/.gradle/8.9/gc.properties
/BeeWayPictureSelect/.gradle/8.13/checksums/checksums.lock
/BeeWayPictureSelect/.gradle/8.13/checksums/md5-checksums.bin
/BeeWayPictureSelect/.gradle/8.13/checksums/sha1-checksums.bin
/BeeWayPictureSelect/.gradle/8.13/executionHistory/executionHistory.bin
/BeeWayPictureSelect/.gradle/8.13/executionHistory/executionHistory.lock
/BeeWayPictureSelect/.gradle/8.13/fileChanges/last-build.bin
/BeeWayPictureSelect/.gradle/8.13/fileHashes/fileHashes.bin
/BeeWayPictureSelect/.gradle/8.13/fileHashes/fileHashes.lock
/BeeWayPictureSelect/.gradle/8.13/fileHashes/resourceHashesCache.bin
/BeeWayPictureSelect/.gradle/8.13/gc.properties
/BeeWayPictureSelect/.gradle/buildOutputCleanup/outputFiles.bin
